/*
* === HTML ===
*/

html{
    background-color: #EDEFF0;
}

/*
* === Body ===
*/

body{
    margin: 0;
}

/*
* === Header ===
*/

body > header{
    background-color: #046DD5;
    padding: 1em;
}

body > header > *{
    margin: 0;
    padding: 0;
}

body > header a{
    color: white;
    text-decoration: none;
    font-family: "Verdana";
}

body > header h1 a{
    font-size: x-large;
}

body > header h2 a{
    font-size: small;
}

body > header div a{
    font-size: small;
}

body > header div a:first-child{
    padding-right: 1em;
    border-right: solid white 1px;
}

body > header div a:last-child{
    padding-left: 1em;
}

/*
* === Nav ===
*/

nav > input{
    display: none;
}

nav > label{
    display: none;
}

nav#menu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    background-color: white;
}

nav#menu ul li{
    padding: 1em;
}

nav#menu ul li:first-child{
    border-top: solid #E1493E 0.3em;
}

nav#menu ul li:nth-child(2){
    border-top: solid #8ABA56 0.3em;
}

nav#menu ul li:nth-child(3){
    border-top: solid #5B4282 0.3em;
}

nav#menu ul li:nth-child(4){
    border-top: solid #FF8932 0.3em;
}

nav#menu ul li:nth-child(5){
    border-top: solid #19B6E9  0.3em;
}

nav#menu ul li:last-child{
    border-top: solid #E84C8B 0.3em;
}

nav#menu a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: black;
}

/*
* === Aside ===
*/

aside#related{
    background-color: #2A2F33;
    padding: 1em;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}

aside#related h1 a{
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

/*
* === Section ===
*/

section#news{
    margin-right: 1em;
}

section#news img {
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

section#news header h1 a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: white;
    text-shadow: 0.15em 0.15em 4px #2A2F33;
    position: absolute;
    width: 17%;
    margin: 1em;
    z-index: 1;
}

#news article{
    background-color: white;
}

section#news p{
    padding: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section#news p:first-of-type::first-letter{
    font-size: 200%
}

section#news footer .author::before{
    content: "By ";
}

section#news footer .comments::after{
    content: " comments";
}

section#news footer{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F4655F;
    padding: 1em;
    font-size: small;
}

section#news footer a{
    color: inherit;
    font-family: inherit;
}

section#news footer .date{
    margin-left: 1em;
    margin-right: 1em;
}

/*
* === Footer ===
*/

body > footer{
    background-color: #2A2F33;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 1em;
    padding: 1em;
}

body > footer p{
    margin: 0;
}

